@keyframes moveInLeft {
    0% {
        opacity: 0;
        /* goes backward in the x direction */
        transform: translateX(-10rem);
    }

    80% {
        /* intermediate position slightly to the right */
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        /* goes forward in the x direction */
        transform: translateX(10rem);
    }

    80% {
        /* intermediate position slightly to the right */
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        /* goes forward in the x direction */
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}